@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model ServiceModelDataVaksin.DataVaksinS

@{
    ViewData["Title"] = "Home Page Pemerintah";
}

@{
    string username = HttpContextAccessor.HttpContext.Session.GetString("_Username") ?? "";
    string nama = HttpContextAccessor.HttpContext.Session.GetString("_Nama") ?? "";
    string nik = HttpContextAccessor.HttpContext.Session.GetString("_Nik") ?? "";
    string alamat = HttpContextAccessor.HttpContext.Session.GetString("_Alamat") ?? "";
    string jenis_kelamin = HttpContextAccessor.HttpContext.Session.GetString("_JenisKelamin") ?? "";

    string messagePasien = HttpContextAccessor.HttpContext.Session.GetString("_MessagePasien") ?? "";
    string messageVaksin = HttpContextAccessor.HttpContext.Session.GetString("_MessageVaksin") ?? "";

    string tanggalTerimaVaksin = HttpContextAccessor.HttpContext.Session.GetString("_TanggalTerimaVaksin") ?? "";

    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>
        ViewBag.Message = null;
    }
}

@{
    if(username == "")
    {
        <h3>Selamat Datang</h3>
        <span>Silahkan </span> <a asp-action="Login">login di sini</a>
    }
    else
    {
        <h3>Selamat Datang, @nama</h3>
        <hr />
        
        <div class="row">
            <div class="col-2">
                <span>Nama</span>
            </div>
            <div class="col-4">
                <span>@nama</span>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <span>NIK</span>
            </div>
            <div class="col-4">
                <span>@nik</span>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <span>Alamat</span>
            </div>
            <div class="col-4">
                <span>@alamat</span>
            </div>
        </div>
            
        <div class="row">
            <div class="col-2">
                <span>Jenis Kelamin</span>
            </div>
            <div class="col-4">
                <span>@jenis_kelamin</span>
            </div>
        </div>

        <div class="row mb-3 mt-3">
            <div class="col-2">
                <span>Status Vaksin</span>
            </div>
            <div class="col-4">
                @{
                    if(messageVaksin == "" && Model != null)
                    {
                        <label class="badge badge-success">Sudah Divaksin</label>
                    }
                    else
                    {
                        <label class="badge badge-danger">Belum Divaksin</label>
                    }
                }
            </div>
        </div>

        if(messagePasien != "")
        {
            <p>@messagePasien</p>
        }

        if(messagePasien == "" && messageVaksin != "" && Model == null)
        {
            <p>@messageVaksin</p>
        }

        if(messageVaksin == "" && Model != null)
        {
            <div class="row">
                <div class="col-2">
                    <span>Nama Vaksin</span>
                </div>
                <div class="col-4">
                    <span>@Model.nama</span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <span>No. Registrasi Vaksin</span>
                </div>
                <div class="col-4">
                    <span>@Model.no_registrasi</span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <span>Tanggal Pembuatan</span>
                </div>
                <div class="col-4">
                    <span>@Model.tgl_pembuatan</span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <span>Tanggal Terima Vaksin</span>
                </div>
                <div class="col-4">
                    <span>@tanggalTerimaVaksin</span>
                </div>
            </div>
        }
    }
}