@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model List<ServiceModelDataVaksin.DataVaksinS>

@{
    ViewData["Title"] = "Home Page BPOM";
}

@{
    string username = HttpContextAccessor.HttpContext.Session.GetString("_Username") ?? "";
}
@if (username != "")
{

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 align="center">Selamat Datang di Sistem Data BPOM, @username!</h3>
                <div></div>
                
                <br/>
                <h5>Daftar Vaksin yang Sudah Diregistrasi</h5>
                <span class="mb-4">Berikut adalah daftar vaksin yang sudah diregistrasikan oleh masing-masing Produsen Vaksin</span>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID Produsen</th>
                            <th scope="col">Nomor Registrasi</th>
                            <th scope="col">Nama Vaksin</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>@i</td>
                                <td>@item.id_produsen</td>
                                <td>@item.no_registrasi</td>
                                <td>@item.nama</td>
                                <td>@item.jumlah</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h3>Selamat Datang</h3>
    <span>Silahkan </span> <a asp-action="Login">login di sini</a>
}